{% extends 'base.html.twig' %}

{% block title %}New Converted history{% endblock %}

{% block body %}
    <h1>Create new Converted history</h1>

    {{ include('crypto_converter/_form.html.twig') }}

    <a href="{{ path('crypto_converter_index') }}">back to list</a>
{% endblock %}
